@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* CSS HEX */
--azul: rgb(41, 182, 238);
--laranja: rgb(201, 111, 9);
--amarelo : rgb(238, 224, 103);
--rosa: rgb(241, 147, 180);
--título:"Dancing Script", cursive;
--texo:"PT Serif", serif;
}

body{
    background-color: var(--rosa);
    font-family: var(--título);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
