@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* CSS HEX */
--azul: rgb(41, 182, 238);
--laranja: rgb(255, 255, 255);
--amarelo : rgb(228, 143, 143);
--rosa: rgb(243, 149, 185);
--branco: #f1f1f1;
--título:"Dancing Script", cursive;
--texo:"PT Serif", serif;
}

body{
    background-color: var(--rosa);
    font-family: var(--título);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main{
    margin: 40px 20px;
    max-width: 90%;
    text-align: center;
    font-size: 28px;
}

button{
    background-color: var(--laranja);
    color: var(--rosa);
    padding: 10px;
    border: 2px solid var(--branco);
    border-radius: 8px;
    font-size: 20px;
    margin: 5px;
}

button-hover{
    background-color: var(--branco);
    color: var(--laranja);
    transition: 0.5s;
    border: 2px solid #000;
    box-shadow: 2px 2px 10px #000;
}
 
.passo.ativo{
    display: block;
}

img{
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}



